.container {
  background-image: url("../../image//ticketImages//ticketImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  position: relative;
  background-color: red;
}
.formContainer {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 30px 30px;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.2);
}
.fieldContainer {
  margin-bottom: 20px;
  position: relative;
}
.fieldContainer {
  position: relative;
  margin-bottom: 20px;
}

.fieldContainer input:focus + label,
.fieldContainer input:not(:placeholder-shown) + label {
  top: -8px;
  left: 20px;
  font-size: 17px;
  color: #3282b8;
}

.fieldContainer label {
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  color: #d2d2d2;
  background-color: transparent;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 0 5px;
  margin-left: -5px;
  text-shadow: 1px -1px 3px #000000;
}

.fieldContainer input:focus {
  outline: none;
}
.ticketForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticketForm input {
  font-size: 15px;
  width: 350px;
  height: 50px;
  margin-bottom: 5%;
  padding: 0 30px 0 20px;
  border-radius: 25px;
  border: unset;
  background-color: rgba(255, 255, 255, 0.2);
}
.ticketForm input,
select,
textarea {
  font-size: 15px;
  width: 350px;
  height: 50px;
  margin-bottom: 5%;
  padding: 0 30px 0 20px;
  border-radius: 25px;
  border: unset;
  background-color: rgba(255, 255, 255, 0.2);
  color: #eeeeee;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.ticketButton {
  width: 350px;
  height: 50px;
  border-radius: 25px;
  border: unset;
  cursor: pointer;
  background-color: #0f4c75;
  transition: background-color 0.3s ease;
  color: #eeeeee;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.ticketButton:hover {
  background-color: #3282b8;
}
