.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: none !important;
  opacity: 5px;
}

.modalContent {
  padding: 20px;
  margin: 30px;
  border-radius: 8px;
  opacity: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  background-image: none !important;
}
.backgroundImage {
  background-image: url("../../image//ticketImages//ticketImage.jpg");

  background-size: cover;
  background-position: center;
}
.lightBlue {
  color: #bbe1fa;
}
